Full Syntax
body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
  }
Shorthand
  body {
    background: #ffffff url("img_tree.png") no-repeat right top;
  }

 The following values are allowed:

    dotted - Defines a dotted border
    dashed - Defines a dashed border
    solid - Defines a solid border
    double - Defines a double border
    groove - Defines a 3D grooved border. The effect depends on the border-color value
    ridge - Defines a 3D ridged border. The effect depends on the border-color value
    inset - Defines a 3D inset border. The effect depends on the border-color value
    outset - Defines a 3D outset border. The effect depends on the border-color value
    none - Defines no border
    hidden - Defines a hidden border

  The border property is a shorthand property for the following individual border properties:

    border-width
    border-style (required)
    border-color
p {
  border: 5px solid red;
}

p {
  border: 2px solid red;
  border-radius: 5px;
}

All CSS Border Properties
Property 	Description
border 	Sets all the border properties in one declaration
border-bottom 	Sets all the bottom border properties in one declaration
border-bottom-color 	Sets the color of the bottom border
border-bottom-style 	Sets the style of the bottom border
border-bottom-width 	Sets the width of the bottom border
border-color 	Sets the color of the four borders
border-left 	Sets all the left border properties in one declaration
border-left-color 	Sets the color of the left border
border-left-style 	Sets the style of the left border
border-left-width 	Sets the width of the left border
border-radius 	Sets all the four border-*-radius properties for rounded corners
border-right 	Sets all the right border properties in one declaration
border-right-color 	Sets the color of the right border
border-right-style 	Sets the style of the right border
border-right-width 	Sets the width of the right border
border-style 	Sets the style of the four borders
border-top 	Sets all the top border properties in one declaration
border-top-color 	Sets the color of the top border
border-top-style 	Sets the style of the top border
border-top-width 	Sets the width of the top border
border-width 	Sets the width of the four borders

div {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

Property 	Description
direction 	Specifies the text direction/writing direction
text-align 	Specifies the horizontal alignment of text
text-align-last 	Specifies how to align the last line of a text
unicode-bidi 	Used together with the direction property to set or return whether the text should be overridden to support multiple languages in the same document
vertical-align 	Sets the vertical alignment of an element

text-decoration 	Sets all the text-decoration properties in one declaration
text-decoration-color 	Specifies the color of the text-decoration
text-decoration-line 	Specifies the kind of text decoration to be used (underline, overline, etc.)
text-decoration-style 	Specifies the style of the text decoration (solid, dotted, etc.)
text-decoration-thickness 	Specifies the thickness of the text decoration line

text-transform 	Controls the capitalization of text

letter-spacing 	Specifies the space between characters in a text
line-height 	Specifies the line height
text-indent 	Specifies the indentation of the first line in a text-block
white-space 	Specifies how to handle white-space inside an element
word-spacing 	Specifies the space between words in a text

text-shadow 	Specifies the shadow effect added to text

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
body {
  font-family: "Sofia", sans-serif;
}
</style>
</head>

The font property is a shorthand property for:

    font-style
    font-variant
    font-weight
    font-size/line-height
    font-family

Property 	Description
font 	Sets all the font properties in one declaration
font-family 	Specifies the font family for text
font-size 	Specifies the font size of text
font-style 	Specifies the font style for text
font-variant 	Specifies whether or not a text should be displayed in a small-caps font
font-weight 	Specifies the weight of a font

