Full Syntax
body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
  }
Shorthand
  body {
    background: #ffffff url("img_tree.png") no-repeat right top;
  }

 The following values are allowed:

    dotted - Defines a dotted border
    dashed - Defines a dashed border
    solid - Defines a solid border
    double - Defines a double border
    groove - Defines a 3D grooved border. The effect depends on the border-color value
    ridge - Defines a 3D ridged border. The effect depends on the border-color value
    inset - Defines a 3D inset border. The effect depends on the border-color value
    outset - Defines a 3D outset border. The effect depends on the border-color value
    none - Defines no border
    hidden - Defines a hidden border

  The border property is a shorthand property for the following individual border properties:

    border-width
    border-style (required)
    border-color
p {
  border: 5px solid red;
}

p {
  border: 2px solid red;
  border-radius: 5px;
}

All CSS Border Properties
Property 	Description
border 	Sets all the border properties in one declaration
border-bottom 	Sets all the bottom border properties in one declaration
border-bottom-color 	Sets the color of the bottom border
border-bottom-style 	Sets the style of the bottom border
border-bottom-width 	Sets the width of the bottom border
border-color 	Sets the color of the four borders
border-left 	Sets all the left border properties in one declaration
border-left-color 	Sets the color of the left border
border-left-style 	Sets the style of the left border
border-left-width 	Sets the width of the left border
border-radius 	Sets all the four border-*-radius properties for rounded corners
border-right 	Sets all the right border properties in one declaration
border-right-color 	Sets the color of the right border
border-right-style 	Sets the style of the right border
border-right-width 	Sets the width of the right border
border-style 	Sets the style of the four borders
border-top 	Sets all the top border properties in one declaration
border-top-color 	Sets the color of the top border
border-top-style 	Sets the style of the top border
border-top-width 	Sets the width of the top border
border-width 	Sets the width of the four borders

div {
  width: 300px;
  padding: 25px;
  box-sizing: border-box;
}

div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

Property 	Description
direction 	Specifies the text direction/writing direction
text-align 	Specifies the horizontal alignment of text
text-align-last 	Specifies how to align the last line of a text
unicode-bidi 	Used together with the direction property to set or return whether the text should be overridden to support multiple languages in the same document
vertical-align 	Sets the vertical alignment of an element

text-decoration 	Sets all the text-decoration properties in one declaration
text-decoration-color 	Specifies the color of the text-decoration
text-decoration-line 	Specifies the kind of text decoration to be used (underline, overline, etc.)
text-decoration-style 	Specifies the style of the text decoration (solid, dotted, etc.)
text-decoration-thickness 	Specifies the thickness of the text decoration line

text-transform 	Controls the capitalization of text

letter-spacing 	Specifies the space between characters in a text
line-height 	Specifies the line height
text-indent 	Specifies the indentation of the first line in a text-block
white-space 	Specifies how to handle white-space inside an element
word-spacing 	Specifies the space between words in a text

text-shadow 	Specifies the shadow effect added to text

<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<style>
body {
  font-family: "Sofia", sans-serif;
}
</style>
</head>

The font property is a shorthand property for:

    font-style
    font-variant
    font-weight
    font-size/line-height
    font-family

Property 	Description
font 	Sets all the font properties in one declaration
font-family 	Specifies the font family for text
font-size 	Specifies the font size of text
font-style 	Specifies the font style for text
font-variant 	Specifies whether or not a text should be displayed in a small-caps font
font-weight 	Specifies the weight of a font


    a:link - a normal, unvisited link
    a:visited - a link the user has visited
    a:hover - a link when the user mouses over it
    a:active - a link the moment it is clicked

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

a.one:link {color: #ff0000;}
a.one:visited {color: #0000ff;}
a.one:hover {color: #ffcc00;}

a.two:link {color: #ff0000;}
a.two:visited {color: #0000ff;}
a.two:hover {font-size: 150%;}

a.three:link {color: #ff0000;}
a.three:visited {color: #0000ff;}
a.three:hover {background: #66ff66;}

a.four:link {color: #ff0000;}
a.four:visited {color: #0000ff;}
a.four:hover {font-family: monospace;}

a.five:link {color: #ff0000; text-decoration: none;}
a.five:visited {color: #0000ff; text-decoration: none;}
a.five:hover {text-decoration: underline;}

 <span style="cursor: auto">auto</span><br>
<span style="cursor: crosshair">crosshair</span><br>
<span style="cursor: default">default</span><br>
<span style="cursor: e-resize">e-resize</span><br>
<span style="cursor: help">help</span><br>
<span style="cursor: move">move</span><br>
<span style="cursor: n-resize">n-resize</span><br>
<span style="cursor: ne-resize">ne-resize</span><br>
<span style="cursor: nw-resize">nw-resize</span><br>
<span style="cursor: pointer">pointer</span><br>
<span style="cursor: progress">progress</span><br>
<span style="cursor: s-resize">s-resize</span><br>
<span style="cursor: se-resize">se-resize</span><br>
<span style="cursor: sw-resize">sw-resize</span><br>
<span style="cursor: text">text</span><br>
<span style="cursor: w-resize">w-resize</span><br>
<span style="cursor: wait">wait</span> 

ul.a {
  list-style-type: circle;
}

ul.b {
  list-style-type: square;
}

ol.c {
  list-style-type: upper-roman;
}

ol.d {
  list-style-type: lower-alpha;
}

ol {
  background: #ff9999;
  padding: 20px;
}

ul {
  background: #3399ff;
  padding: 20px;
}

ol li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}

list-style 	Sets all the properties for a list in one declaration
list-style-image 	Specifies an image as the list-item marker
list-style-position 	Specifies the position of the list-item markers (bullet points)
list-style-type 	Specifies the type of list-item marker

Property 	Description
border 	Sets all the border properties in one declaration
border-collapse 	Specifies whether or not table borders should be collapsed
border-spacing 	Specifies the distance between the borders of adjacent cells
caption-side 	Specifies the placement of a table caption
empty-cells 	Specifies whether or not to display borders and background on empty cells in a table
table-layout 	Sets the layout algorithm to be used for a table

Property 	Description
display 	Specifies how an element should be displayed
visibility 	Specifies whether or not an element should be visible

<style>
.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 1;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3;
  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 2;
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
</style>

Property 	Description
overflow 	Specifies what happens if content overflows an element's box
overflow-wrap 	Specifies whether or not the browser can break lines with long words, if they overflow its container
overflow-x 	Specifies what to do with the left/right edges of the content if it overflows the element's content area
overflow-y 	Specifies what to do with the top/bottom edges of the content if it overflows the element's content area

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

Property 	Description
box-sizing 	Defines how the width and height of an element are calculated: should they include padding and borders, or not
clear 	Specifies what should happen with the element that is next to a floating element
float 	Specifies whether an element should float to the left, right, or not at all
overflow 	Specifies what happens if content overflows an element's box
overflow-x 	Specifies what to do with the left/right edges of the content if it overflows the element's content area
overflow-y 	Specifies what to do with the top/bottom edges of the content if it overflows the element's content area

 /* unvisited link */
a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
}

/* selected link */
a:active {
  color: #0000FF;
} 

p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover p {
  display: block;
}
All CSS Pseudo Classes
Selector 	Example 	Example description
:active 	a:active 	Selects the active link
:checked 	input:checked 	Selects every checked <input> element
:disabled 	input:disabled 	Selects every disabled <input> element
:empty 	p:empty 	Selects every <p> element that has no children
:enabled 	input:enabled 	Selects every enabled <input> element
:first-child 	p:first-child 	Selects every <p> elements that is the first child of its parent
:first-of-type 	p:first-of-type 	Selects every <p> element that is the first <p> element of its parent
:focus 	input:focus 	Selects the <input> element that has focus
:hover 	a:hover 	Selects links on mouse over
:in-range 	input:in-range 	Selects <input> elements with a value within a specified range
:invalid 	input:invalid 	Selects all <input> elements with an invalid value
:lang(language) 	p:lang(it) 	Selects every <p> element with a lang attribute value starting with "it"
:last-child 	p:last-child 	Selects every <p> elements that is the last child of its parent
:last-of-type 	p:last-of-type 	Selects every <p> element that is the last <p> element of its parent
:link 	a:link 	Selects all unvisited links
:not(selector) 	:not(p) 	Selects every element that is not a <p> element
:nth-child(n) 	p:nth-child(2) 	Selects every <p> element that is the second child of its parent
:nth-last-child(n) 	p:nth-last-child(2) 	Selects every <p> element that is the second child of its parent, counting from the last child
:nth-last-of-type(n) 	p:nth-last-of-type(2) 	Selects every <p> element that is the second <p> element of its parent, counting from the last child
:nth-of-type(n) 	p:nth-of-type(2) 	Selects every <p> element that is the second <p> element of its parent
:only-of-type 	p:only-of-type 	Selects every <p> element that is the only <p> element of its parent
:only-child 	p:only-child 	Selects every <p> element that is the only child of its parent
:optional 	input:optional 	Selects <input> elements with no "required" attribute
:out-of-range 	input:out-of-range 	Selects <input> elements with a value outside a specified range
:read-only 	input:read-only 	Selects <input> elements with a "readonly" attribute specified
:read-write 	input:read-write 	Selects <input> elements with no "readonly" attribute
:required 	input:required 	Selects <input> elements with a "required" attribute specified
:root 	root 	Selects the document's root element
:target 	#news:target 	Selects the current active #news element (clicked on a URL containing that anchor name)
:valid 	input:valid 	Selects all <input> elements with a valid value
:visited 	a:visited 	Selects all visited links
All CSS Pseudo Elements
Selector 	Example 	Example description
::after 	p::after 	Insert content after every <p> element
::before 	p::before 	Insert content before every <p> element
::first-letter 	p::first-letter 	Selects the first letter of every <p> element
::first-line 	p::first-line 	Selects the first line of every <p> element
::marker 	::marker 	Selects the markers of list items
::selection 	p::selection 	Selects the portion of an element that is selected by a user

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

 <style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>

<div class="dropdown">
  <span>Mouse over me</span>
  <div class="dropdown-content">
    <p>Hello World!</p>
  </div>
</div> 

calc() 	Allows you to perform calculations to determine CSS property values
max() 	Uses the largest value, from a comma-separated list of values, as the property value
min() 	Uses the smallest value, from a comma-separated list of values, as the property value

Property 	Description
border-radius 	A shorthand property for setting all the four border-*-*-radius properties
border-top-left-radius 	Defines the shape of the border of the top-left corner
border-top-right-radius 	Defines the shape of the border of the top-right corner
border-bottom-right-radius 	Defines the shape of the border of the bottom-right corner
border-bottom-left-radius 	Defines the shape of the border of the bottom-left corner

Property 	Description
border-image 	A shorthand property for setting all the border-image-* properties
border-image-source 	Specifies the path to the image to be used as a border
border-image-slice 	Specifies how to slice the border image
border-image-width 	Specifies the widths of the border image
border-image-outset 	Specifies the amount by which the border image area extends beyond the border box
border-image-repeat 	Specifies whether the border image should be repeated, rounded or stretched

